.footer{
    background-color: $color-secondary;
    grid-column: content-start / content-end;

    padding: 2rem;
}

.nav{
    list-style: none;
    
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
    align-items: center;
    gap: 2rem;
    &__link{
        &,
        &:link,
        &:visited{
            display: block;
            background-color:rgba(255, 255, 255,0);
            padding: 1.4rem;
            color: #fff;
            transition: all .2s;
            text-transform: uppercase;
            text-decoration:none;
            text-align: center;
            font-size: 1.5rem;

            &:hover{
                transform: translateY(-3px);
                background-color: rgba(255, 255, 255,0.2);
           }

        }

    }
}
.copyright{
    text-align: center;
    color: $color-grey-light-1;
    margin-top: 2rem;
    margin:2rem auto 1rem auto;
    width: 70%; 
}